Repository mckinsey/causalnex: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-quick-causalnex, pylint-quick-tests

pylint-quick-causalnex:
  name: Quick Pylint on causalnex/*
  language: system
  entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn
  stages:
  - commit

pylint-quick-tests:
  name: Quick Pylint on tests/*
  language: system
  entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import
  stages:
  - commit

Remove python 3.6 and 3.7 support (#234)
  .circleci/config.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/source/01_introduction/01_introduction.md
  docs/source/api_docs/index.rst
  requirements.txt
  setup.py
  test_requirements.txt
Due: none

unlocking numpy (#238)
  requirements.txt
Due: none

Release 0.11.2 (#239)
  RELEASE.md
  causalnex/__init__.py
Due: pylint-quick-causalnex

Release PR 0.11.2 (#240)
  .circleci/config.yml
  .readthedocs.yml
  CONTRIBUTING.md
  README.md
  RELEASE.md
  causalnex/__init__.py
  causalnex/structure/dynotears.py
  docs/source/01_introduction/01_introduction.md
  docs/source/api_docs/index.rst
  requirements.txt
  setup.py
  test_requirements.txt
  tests/ebaybbn/conftest.py
Due: pylint-quick-causalnex, pylint-quick-tests

Replacing Pygraphviz with Pyvis (#237)
  .circleci/config.yml
  requirements.txt
Due: none

test
  .circleci/config.yml
Due: none

Release Notes 0.12.0 (#249)
  RELEASE.md
  causalnex/__init__.py
Due: pylint-quick-causalnex

removing remaining Pygraphviz mentions (#254)
  .circleci/config.yml
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
  doc_requirements.txt
  tests/test_plotting.py
Due: pylint-quick-tests

fix: doc_requirements.txt to reduce vulnerabilities
  doc_requirements.txt
Due: none

fix: doc_requirements.txt to reduce vulnerabilities (#259)
  doc_requirements.txt
Due: none

unlocking requirements (#257)
  requirements.txt
Due: none

Version bump 0.12.0 -> 0.12.1 (#261)
  RELEASE.md
  causalnex/__init__.py
Due: pylint-quick-causalnex

Release 0.12.1 (#262)
  .circleci/config.yml
  RELEASE.md
  causalnex/__init__.py
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
  doc_requirements.txt
  requirements.txt
  tests/test_plotting.py
Due: pylint-quick-causalnex, pylint-quick-tests

convert html tables to markdown (#264)
  docs/source/03_tutorial/03_plotting_tutorial.ipynb
Due: none

Add issue forms (#260)
  .github/ISSUE_TEMPLATE/causalnex_bug_report.yml
  .github/ISSUE_TEMPLATE/causalnex_feature_request.yml
Due: none

Removing duplicated issue template (#265)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Fix paths to images in docs
  docs/source/04_user_guide/04_user_guide.md
Due: none

Broken LinkedIn link
  docs/source/05_resources/05_faq.md
Due: none

Broken link in RELEASE.md
  RELEASE.md
Due: none

docs: Fix typos and add codespell pre-commit hook
  .pre-commit-config.yaml
  causalnex/discretiser/discretiser_strategy.py
  causalnex/ebaybbn/bbn.py
  causalnex/network/network.py
  causalnex/structure/data_generators/wrappers.py
  causalnex/structure/pytorch/notears.py
  causalnex/structure/pytorch/sklearn/_base.py
  causalnex/utils/pgmpy_utils.py
  devel-gpu.Dockerfile
  tests/ebaybbn/test_ebaybbn.py
  tests/estimator/test_em.py
  tests/structure/data_generators/test_core.py
  tests/structure/data_generators/test_wrappers.py
  tests/structure/test_dist_type.py
  tests/structure/test_dynotears.py
  tests/structure/test_notears.py
  tests/structure/test_pytorch_notears.py
  tests/test_bayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

Update evaluation.py: Added a function to evaluate the performance of EM models on validation data using a specified metric.
  causalnex/evaluation/evaluation.py
Due: pylint-quick-causalnex

Update 04_user_guide.md
  docs/source/04_user_guide/04_user_guide.md
Due: none

fix typo in 04_user_guide.md
  docs/source/04_user_guide/04_user_guide.md
Due: none

fix: test_requirements.txt to reduce vulnerabilities
  test_requirements.txt
Due: none

Update test_requirements.txt
  test_requirements.txt
Due: none

Add global_graph subpackage for causal ripple effect analysis
  causalnex/__init__.py
  causalnex/global_graph/__init__.py
  causalnex/global_graph/bayesian_fitting.py
  causalnex/global_graph/data_ingestion.py
  causalnex/global_graph/node_registry.py
  causalnex/global_graph/path_tracer.py
  causalnex/global_graph/ripple_engine.py
  causalnex/global_graph/simulator.py
  causalnex/global_graph/structure_builder.py
  causalnex/global_graph/visualization.py
  causalnex/inference/inference.py
  causalnex/network/network.py
  tests/global_graph/__init__.py
  tests/global_graph/test_node_registry.py
  tests/global_graph/test_ripple_engine.py
  tests/global_graph/test_simulator.py
  tests/global_graph/test_structure_builder.py
  tests/global_graph/test_visualization.py
Due: pylint-quick-causalnex, pylint-quick-tests

Add config-driven OntologyRegistry and extend global_graph API
  causalnex/global_graph/__init__.py
  causalnex/global_graph/config/__init__.py
  causalnex/global_graph/config/default_edges.yaml
  causalnex/global_graph/config/default_nodes.yaml
  causalnex/global_graph/config/edge_types.yaml
  causalnex/global_graph/config/node_types.yaml
  causalnex/global_graph/demo.py
  causalnex/global_graph/node_registry.py
  causalnex/global_graph/registry.py
  causalnex/global_graph/simulator.py
  causalnex/global_graph/structure_builder.py
  causalnex/global_graph/visualization.py
  requirements.txt
  tests/test_global_graph_registry.py
Due: pylint-quick-causalnex, pylint-quick-tests

Update README
  README.md
Due: none

Update the formatting of the important alert
  README.md
Due: none

remove old links
  README.md
Due: none

Path conditions:
  pylint-quick-causalnex: any of: ^causalnex/ and \.py$ and not (^causalnex/ebaybbn)
  pylint-quick-tests: any of: ^tests/ and \.py$
