Repository mckinsey/causalnex: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-quick-causalnex, pylint-quick-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: ^docs/source/03_tutorial
    -   id: check-yaml  # Checks yaml files for parseable syntax.
    -   id: check-json  # Checks json files for parseable syntax.
    -   id: check-added-large-files
        exclude: ^docs/source/03_tutorial
    -   id: check-case-conflict  # Check for files that would conflict in case-insensitive filesystems
    -   id: check-merge-conflict  # Check for files that contain merge conflict strings.
    -   id: debug-statements  # Check for debugger imports and py37+ `breakpoint()` calls in python source.
    -   id: detect-private-key  # Detects the presence of private keys
    -   id: requirements-txt-fixer  # Sorts entries in requirements.txt
    -   id: flake8
        exclude: ^causalnex/ebaybbn

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort
        exclude: ^causalnex/ebaybbn

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black

-   repo: local
    hooks:
    # It's impossible to specify per-directory configuration, so we just run it many times.
    # https://github.com/PyCQA/pylint/issues/618
    # The first set of pylint checks if for local pre-commit, it only runs on the files changed.
    -   id: pylint-quick-causalnex
        name: "Quick Pylint on causalnex/*"
        language: system
        types: [file, python]
        files: ^causalnex/
        exclude: ^causalnex/ebaybbn
        entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn
        stages: [commit]
    -   id: pylint-quick-tests
        name: "Quick Pylint on tests/*"
        language: system
        types: [file, python]
        files: ^tests/
        entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import
        stages: [commit]

    # The same pylint checks, but running on all files. It's for manual run with `make lint`
    -   id: pylint-causalnex
        name: "Pylint on causalnex/*"
        language: system
        pass_filenames: false
        stages: [manual]
        entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn causalnex
        exclude: ^causalnex/ebaybbn
    -   id: pylint-tests
        name: "Pylint on tests/*"
        language: system
        pass_filenames: false
        stages: [manual]
        entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import tests
    -   id: legal
        name: "Licence check"
        language: system
        pass_filenames: false
        entry: make legal

[Snyk] Security upgrade nbconvert from 5.6.1 to 6.3.0b0 (#196)
  doc_requirements.txt
Due: none

[Snyk] Security upgrade mistune from 0.8.4 to 2.0.3 (#195)
  doc_requirements.txt
Due: none

100% test coverage
  causalnex/network/__init__.py
  causalnex/network/network.py
  causalnex/structure/dynotears.py
  causalnex/structure/structuremodel.py
  tests/structure/test_dynamicstructuremodel.py
  tests/structure/test_dynotears.py
  tests/test_dynamicbayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

fix linting errors
  causalnex/network/network.py
  causalnex/structure/__init__.py
  causalnex/structure/dynotears.py
  causalnex/structure/structuremodel.py
  tests/structure/test_dynamicstructuremodel.py
  tests/structure/test_dynotears.py
Due: pylint-quick-causalnex, pylint-quick-tests

refactored coercion functions for linter
  causalnex/structure/structuremodel.py
Due: pylint-quick-causalnex

refactor dsn tests for linter
  causalnex/structure/structuremodel.py
  tests/structure/test_dsn_coercion.py
  tests/structure/test_dsn_subgraph.py
  tests/structure/test_dynamicstructuremodel.py
Due: pylint-quick-causalnex, pylint-quick-tests

fix linter error
  tests/structure/test_dsn_subgraph.py
Due: pylint-quick-tests

test doc fix
  causalnex/structure/structuremodel.py
Due: pylint-quick-causalnex

add comment
  causalnex/structure/structuremodel.py
Due: pylint-quick-causalnex

linter fix
  causalnex/structure/structuremodel.py
Due: pylint-quick-causalnex

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Due: none

unblocking scipy requirements (#199)
  requirements.txt
Due: none

adding release note
  RELEASE.md
Due: none

updating readme python version
  README.md
Due: none

updating package version
  RELEASE.md
  causalnex/__init__.py
Due: pylint-quick-causalnex

linting
  RELEASE.md
Due: none

[Snyk] Security upgrade wheel from 0.30.0 to 0.38.0 (#205)
  requirements.txt
Due: none

Update README.md
  README.md
Due: none

CI tests for Windows (#201)
  .circleci/config.yml
Due: none

fix: doc_requirements.txt to reduce vulnerabilities
  doc_requirements.txt
Due: none

fix: test_requirements.txt to reduce vulnerabilities
  test_requirements.txt
Due: none

Limiting numpy version (#217)
  requirements.txt
Due: none

adding setuptools requirement (#218)
  requirements.txt
Due: none

Release 0.11.1 - a few additions (#220)
  requirements.txt
Due: none

Fix docstring
  causalnex/structure/pytorch/sklearn/clf.py
Due: pylint-quick-causalnex

update dictionaries to pass linting (#230)
  causalnex/structure/dynotears.py
  tests/ebaybbn/conftest.py
Due: pylint-quick-causalnex, pylint-quick-tests

Refactor/unlock numpy kl (#235)
  requirements.txt
Due: none

Simplifying requirements - Numpy version range (#236)
  requirements.txt
Due: none
