Repository mckinsey/causalnex: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-quick-causalnex, pylint-quick-tests

pylint-quick-causalnex:
  name: Quick Pylint on causalnex/*
  language: system
  entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn
  stages:
  - commit

pylint-quick-tests:
  name: Quick Pylint on tests/*
  language: system
  entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import
  stages:
  - commit

Fix/updating linters (#156)
  .pre-commit-config.yaml
  causalnex/plots/plots.py
  causalnex/structure/data_generators/wrappers.py
  causalnex/structure/dynotears.py
  causalnex/structure/notears.py
  causalnex/structure/pytorch/core.py
  causalnex/structure/pytorch/dist_type/_base.py
  causalnex/structure/structuremodel.py
  causalnex/utils/data_utils.py
  doc_requirements.txt
  test_requirements.txt
  tests/estimator/test_em.py
  tests/structure/data_generators/test_core.py
  tests/structure/test_sklearn.py
Due: pylint-quick-causalnex, pylint-quick-tests

add dockerfiles for development on cpu and gpu
  CONTRIBUTING.md
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
Due: none

add dynamic bayesian network class
  causalnex/network/__init__.py
  causalnex/network/network.py
  tests/test_dynamicbayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

upgrading nbconvert
  doc_requirements.txt
Due: none

gabriel fixes
  CONTRIBUTING.md
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
  test_requirements.txt
Due: none

update instructions in contributing.md
  CONTRIBUTING.md
Due: none

Tidy up set_cpd
  causalnex/network/network.py
Due: pylint-quick-causalnex

Add test case for setcpd() when a node has no parent
  RELEASE.md
  causalnex/network/network.py
  tests/conftest.py
  tests/student-por.csv
  tests/test_bayesiannetwork.py
  tests/test_set_cpd_fix.py
Due: pylint-quick-causalnex, pylint-quick-tests

Remove unnecessary printouts
  causalnex/network/network.py
Due: pylint-quick-causalnex

Fix/issue#146 set cpd for parentless nodes (#151)
  RELEASE.md
  causalnex/network/network.py
  tests/conftest.py
  tests/test_bayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

Enable Python 3.9 (#157)
  .circleci/config.yml
  README.md
  RELEASE.md
  docs/source/05_resources/05_faq.md
  docs/source/api_docs/index.rst
  setup.py
Due: none

Linting core.py
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

Linting
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
Due: none

Remove scikit-learn from test_requirements.txt
  test_requirements.txt
Due: none

Add Dockerfiles for development on CPU and GPU (#163)
  CONTRIBUTING.md
  devel-cpu.Dockerfile
  devel-gpu.Dockerfile
  test_requirements.txt
Due: none

Remove mistune pinned by snyk
  doc_requirements.txt
Due: none

Fix DAGLayer moving out of gpu during optimization step (#135)
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

chore: update circleci
  requirements.txt
Due: none

chore: update circleci
  docs/source/05_resources/05_faq.md
  docs/source/api_docs/index.rst
  setup.py
Due: none

chore: fix partial warnings
  .circleci/config.yml
  causalnex/network/network.py
  requirements.txt
  setup.py
  test_requirements.txt
  tests/conftest.py
  tests/structure/data_generators/test_wrappers.py
  tests/structure/test_notears.py
  tests/structure/test_pytorch_notears.py
Due: pylint-quick-causalnex, pylint-quick-tests

fix: cpd floating point comparison issue
  causalnex/inference/inference.py
Due: pylint-quick-causalnex

fix: imports ordering
  causalnex/inference/inference.py
Due: pylint-quick-causalnex

chore: ignore inspect. for cov
  causalnex/inference/inference.py
  causalnex/structure/pytorch/sklearn/_base.py
  causalnex/utils/data_utils.py
  tests/test_bayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

fix: cpd floating point comparison issue (#172)
  causalnex/inference/inference.py
Due: pylint-quick-causalnex

chore: release note
  RELEASE.md
Due: none

Enable Python 3.10 (#169)
  .circleci/config.yml
  RELEASE.md
  causalnex/inference/inference.py
  causalnex/network/network.py
  causalnex/structure/pytorch/sklearn/_base.py
  causalnex/utils/data_utils.py
  docs/source/05_resources/05_faq.md
  docs/source/api_docs/index.rst
  requirements.txt
  setup.py
  test_requirements.txt
  tests/conftest.py
  tests/structure/data_generators/test_wrappers.py
  tests/structure/test_notears.py
  tests/structure/test_pytorch_notears.py
  tests/test_bayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

Fix: pygraphviz gradient string can not be rendered correctly on Windows; Fix: some spelling mistakes
  causalnex/plots/display.py
  causalnex/plots/plots.py
Due: pylint-quick-causalnex

reformat source code by running `make lint`
  causalnex/plots/plots.py
Due: pylint-quick-causalnex

add `color_gradient_string` test for windows
  causalnex/plots/plots.py
  tests/test_plotting.py
Due: pylint-quick-causalnex, pylint-quick-tests

push branch for Issue 121
  causalnex/network/network.py
  causalnex/structure/__init__.py
  causalnex/structure/dynotears.py
  causalnex/structure/structuremodel.py
  tests/test_dynamicbayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

push tests for dynamic structure model
  tests/structure/test_dynamicstructuremodel.py
Due: pylint-quick-tests

fix tests in dynamic structure model
  causalnex/structure/__init__.py
  causalnex/structure/structuremodel.py
  tests/structure/test_dynamicstructuremodel.py
Due: pylint-quick-causalnex, pylint-quick-tests

dynotears tests passing
  causalnex/structure/dynotears.py
  causalnex/structure/structuremodel.py
  tests/structure/test_dynotears.py
Due: pylint-quick-causalnex, pylint-quick-tests

Fix CI issue - adding single line
  causalnex/structure/structuremodel.py
Due: pylint-quick-causalnex

fixing pgmpy version
  requirements.txt
Due: none

fixing pgmpy version (#200)
  requirements.txt
Due: none

Path conditions:
  pylint-quick-causalnex: any of: ^causalnex/ and \.py$ and not (^causalnex/ebaybbn)
  pylint-quick-tests: any of: ^tests/ and \.py$
