Repository mckinsey/causalnex: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-quick-causalnex, pylint-quick-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [commit, manual]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: ^docs/source/03_tutorial
    -   id: check-yaml  # Checks yaml files for parseable syntax.
    -   id: check-json  # Checks json files for parseable syntax.
    -   id: check-added-large-files
        exclude: ^docs/source/03_tutorial
    -   id: check-case-conflict  # Check for files that would conflict in case-insensitive filesystems
    -   id: check-merge-conflict  # Check for files that contain merge conflict strings.
    -   id: debug-statements  # Check for debugger imports and py37+ `breakpoint()` calls in python source.
    -   id: detect-private-key  # Detects the presence of private keys
    -   id: requirements-txt-fixer  # Sorts entries in requirements.txt
    -   id: flake8
        exclude: ^causalnex/ebaybbn

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
    -   id: isort
        exclude: ^causalnex/ebaybbn

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black

-   repo: local
    hooks:
    # It's impossible to specify per-directory configuration, so we just run it many times.
    # https://github.com/PyCQA/pylint/issues/618
    # The first set of pylint checks if for local pre-commit, it only runs on the files changed.
    -   id: pylint-quick-causalnex
        name: "Quick Pylint on causalnex/*"
        language: system
        types: [file, python]
        files: ^causalnex/
        exclude: ^causalnex/ebaybbn
        entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn
        stages: [commit]
    -   id: pylint-quick-tests
        name: "Quick Pylint on tests/*"
        language: system
        types: [file, python]
        files: ^tests/
        entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import
        stages: [commit]

    # The same pylint checks, but running on all files. It's for manual run with `make lint`
    -   id: pylint-causalnex
        name: "Pylint on causalnex/*"
        language: system
        pass_filenames: false
        stages: [manual]
        entry: pylint --disable=unnecessary-pass,cyclic-import --ignore=ebaybbn causalnex
        exclude: ^causalnex/ebaybbn
    -   id: pylint-tests
        name: "Pylint on tests/*"
        language: system
        pass_filenames: false
        stages: [manual]
        entry: pylint --disable=missing-docstring,redefined-outer-name,duplicate-code,no-self-use,invalid-name,cyclic-import tests
    -   id: legal
        name: "Licence check"
        language: system
        pass_filenames: false
        entry: make legal

Linting core.py
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

Update core.py
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

Tidy up core.py
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

Fix trailing whitespace
  causalnex/structure/pytorch/core.py
Due: pylint-quick-causalnex

Generalise get_markov_blanket() and incorporate it into StructureModel (#188)
  RELEASE.md
  causalnex/structure/structuremodel.py
  causalnex/utils/network_utils.py
  docs/source/03_tutorial/tutorial_utils.py
  tests/conftest.py
  tests/structure/test_structuremodel.py
  tests/test_bayesiannetwork.py
Due: pylint-quick-causalnex, pylint-quick-tests

Replace w_threshold with tau_w
  tests/structure/test_dynotears.py
Due: pylint-quick-tests

Update test_dynotears.py
  tests/structure/test_dynotears.py
Due: pylint-quick-tests

Update .gitignore
  .gitignore
Due: none

fix: test_requirements.txt to reduce vulnerabilities (#192)
  test_requirements.txt
Due: none

Fix error in DAGRegressor prediction due to numpy.dtype behaviour (resolves #140)
  RELEASE.md
  causalnex/structure/pytorch/sklearn/_base.py
  tests/structure/test_sklearn.py
Due: pylint-quick-causalnex, pylint-quick-tests

reshuffle release changelog
  RELEASE.md
Due: none

fix: doc_requirements.txt to reduce vulnerabilities
  doc_requirements.txt
Due: none

fixed set_cpd for parentless nodes that are not MultiIndex
  causalnex/network/network.py
Due: pylint-quick-causalnex

Added test case, test dataset and updated RELEASE notes
  RELEASE.md
  tests/student-por.csv
  tests/test_set_cpd_fix.py
Due: pylint-quick-tests

enable python 3.9
  .circleci/config.yml
  setup.py
Due: none

fixing circle ci yml
  .circleci/config.yml
Due: none

linting
  causalnex/plots/plots.py
  causalnex/structure/pytorch/dist_type/_base.py
  causalnex/structure/structuremodel.py
  causalnex/utils/data_utils.py
  tests/structure/data_generators/test_core.py
Due: pylint-quick-causalnex, pylint-quick-tests

linting
  .pre-commit-config.yaml
  causalnex/structure/data_generators/wrappers.py
  causalnex/structure/dynotears.py
  causalnex/structure/notears.py
  causalnex/structure/pytorch/core.py
  tests/estimator/test_em.py
  tests/structure/test_sklearn.py
Due: pylint-quick-causalnex, pylint-quick-tests

updating Black version
  .pre-commit-config.yaml
  causalnex/structure/data_generators/wrappers.py
  causalnex/structure/dynotears.py
  causalnex/structure/notears.py
  causalnex/structure/pytorch/core.py
  tests/estimator/test_em.py
  tests/structure/test_sklearn.py
Due: pylint-quick-causalnex, pylint-quick-tests

linting - adapting to pylint updates
  causalnex/plots/plots.py
  causalnex/structure/pytorch/dist_type/_base.py
  causalnex/structure/structuremodel.py
  causalnex/utils/data_utils.py
  tests/structure/data_generators/test_core.py
Due: pylint-quick-causalnex, pylint-quick-tests

updating docs_requirements
  doc_requirements.txt
Due: none

enabling python 3.9
  .circleci/config.yml
  setup.py
Due: none

allowing latest pre-commit
  .circleci/config.yml
Due: none

testing python 3.10
  .circleci/config.yml
Due: none

testing python 3.10 - adapting scikit learn requirements
  requirements.txt
Due: none

testing python 3.10 - changing setup.py
  setup.py
Due: none

Revert "testing python 3.10 - changing setup.py"
  setup.py
Due: none

Revert "testing python 3.10 - adapting scikit learn requirements"
  requirements.txt
Due: none

Revert "testing python 3.10"
  .circleci/config.yml
Due: none

updating pre-comm version in test_requirements
  .circleci/config.yml
  test_requirements.txt
Due: none

specifying ipython_genutils version
  doc_requirements.txt
Due: none

updating Readme, release and docs files
  README.md
  RELEASE.md
  docs/source/05_resources/05_faq.md
  docs/source/api_docs/index.rst
  setup.py
Due: none

Updated 01_introduction.md
  docs/source/01_introduction/01_introduction.md
Due: none

adding test
  tests/temp_file.txt
Due: none
